/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: dimgray;
  color: ghostwhite;
}

h1 {
  font-family: verdana, arial, sans-serif;
  color: azure;
}

button {
  padding: 15px;
  border-radius: 9px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 4px;
}

.hidden {
  display: none;
}

#button1 {
  background: palegreen;
}
#button2 {
  background: darksalmon;
}
#button3 {
  background: lightblue;
}
#button4 {
  background: lemonchiffon;
}

#button1:active,
#button1.lit {
  background: lime;
}
#button2:active,
#button2.lit {
  background: indianred;
}
#button3:active,
#button3.lit {
  background: deepskyblue;
}
#button4:active,
#button4.lit {
  background: yellow;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
